<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.quiz.lesson06.dao.FavoriteMapper" >
<insert id = "insertBookmark" parameterType = "map" >
   insert into `favorite`
   (name,url,createdAt,updatedAt)
   values
   (#{name},#{url},NOW(),NOW() )
</insert>
<select id = "selectBookmark" resultType ="com.quiz.lesson06.domain.Favorite">
	select `id`, `name`, `url` from `favorite`
</select>
</mapper>