<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.quiz03.dao.RealtorMapper">
<insert id = "insertRealtor" parameterType="com.quiz.quiz03.domain.Realtor"
        useGeneratedKeys="true" keyProperty="id"> <!-- useGeneratedKeys="true" keyProperty="id" 이렇게 셋팅하는 순간 parameterType값에 ID가 셋팅됨 -->
	INSERT INTO `realtor`
		(`office`
		,`phoneNumber`
		,`address`
		,`grade`
		,`createdAt`
		,`updatedAt`)
	VALUES
	(    #{office}
		,#{phoneNumber}
		,#{address}
		,#{grade}
		,NOW()
		,NOW())

</insert>
<select id = "selectRealtor" parameterType="com.quiz.quiz03.domain.Realtor">
	 SELECT  `id`
	        ,`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
	   FROM  `realtor`
	  WHERE id = #{id}
</select>
</mapper>