<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.lesson03.dao.RealEstateMapper">
	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		select
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
         from `Real_Estate`
		where id = #{id}
	</select>
	
	<select id="selectRealEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		select
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
         from `Real_Estate`
		where
		      <![CDATA[
        		 `rentPrice` < #{rentPrice}
        	  ]]>  
		
	</select>
	
	<select id="selectRealEstateListByArea" resultType="com.quiz.lesson03.domain.RealEstate">
		select
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
         from `Real_Estate`
		where
		      <![CDATA[
        		 `price` < #{price} AND
        		 `area`  > #{area}
        	  ]]>  
		
	</select>
</mapper> 