<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.quiz.store.dao.ReviewMapper">
	 <select id = "selectReviewList"  parameterType = "int" resultType  = "com.quiz.store.domain.Review">
	 	SELECT
	 		*
	 		FROM
	 		`new_review`
	 		WHERE `storeId` = #{storeId}
	 		ORDER BY `createdAt` DESC
	 		
	 </select>
 </mapper>