<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.weather.dao.WeatherMapper">
	<select id="selectWeather" resultType="com.quiz.weather.domain.Weather">
	  SELECT  
			`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
       FROM weatherhistory			
	</select>
</mapper>		
    		