@charset "UTF-8";
#wrap {
    width:1000px;
    margin:auto;
}

header {
    height:100px;
    background-color: #188CC2;
    width:800px;
}




.goods-box {
    border: 2px solid #188CC2;
    padding: 20px 90px;;
}

.goods-box1 {
    border: 2px solid #188CC2;
    padding: 20px 90px;;
}
.goods-box:hover {
    background-color:#fbe3ff;
}


footer {
    height:80px;
}